<section id="contact" class="section contact">
    <div class="container contact-container">

        <span class="contact-number">What's next?</span>

        <h2>Let's Work Together</h2>

        <p>
            I'm always interested in discussing new opportunities, interesting projects and software development.
        </p>

        <div class="contact-buttons">

            <a href="mailto:sohaibalam.dev@gmail.com" class="secondary-btn">
        Email Me
      </a>

            <a href="https://www.linkedin.com/in/sohaib-alam786/" target="_blank" class="secondary-btn">
        LinkedIn
      </a>

            <a href="https://github.com/sohaib684" target="_blank" class="secondary-btn">
        GitHub
      </a>

        </div>

    </div>
</section>