<section id="home" class="hero">
    <div class="container hero-container">

        <div class="hero-content">


            <p class="hello">HELLO, I'M</p>

            <h1>
                Sohaib Alam
            </h1>

            <h2 class="hero-title">
                <span>{{ currentRole() }}</span>
            </h2>

            <p class="description">
                I build secure, scalable and reliable web applications using Java, Spring Boot and modern frontend technologies.
            </p>

            <div class="buttons">
                <a href="#projects" class="btn">View Project</a>

                <a href="#contact" class="btn">Contact Me</a>
                <a href="Resume_Sohaib_Alam.pdf" download class="btn">
                    <span>Download Resume</span>
                    <span>↓</span>
                </a>
            </div>

        </div>

        <div class="hero-image">
            <img src="images/profile.jpg" alt="Sohaib Alam - Software Developer">
        </div>

    </div>
</section>