.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-content {
    max-width: 700px;
}

.hello {
    color: #22d3ee;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 600;
}

h1 {
    font-size: clamp(48px, 7vw, 82px);
    margin: 10px 0;
    line-height: 1;
}

h2 {
    color: #94a3b8;
    font-size: clamp(25px, 4vw, 42px);
    margin: 15px 0;
}

.description {
    color: #94a3b8;
    max-width: 600px;
    line-height: 1.8;
    font-size: 17px;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

.primary-btn,
.secondary-btn {
    padding: 13px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.primary-btn {
    background: #22d3ee;
    color: #06111f;
}

.secondary-btn {
    border: 1px solid #334155;
    color: white;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.image-circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 2px solid #22d3ee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 800;
    color: #22d3ee;
    box-shadow: 0 0 60px rgba(34, 211, 238, 0.15);
}