<section id="home" class="hero">
    <div class="container hero-container">

        <div class="hero-content">

            <p class="hello">HELLO, I'M</p>

            <h1>
                Sohaib Alam
            </h1>

            <h2>
                Java Full-Stack Developer
            </h2>

            <p class="description">
                I build secure, scalable and reliable web applications using Java, Spring Boot and modern frontend technologies.
            </p>

            <div class="buttons">
                <a href="#projects" class="primary-btn">
          View Projects
        </a>

                <a href="#contact" class="secondary-btn">
          Contact Me
        </a>
            </div>

        </div>

        <div class="hero-image">
            <div class="image-circle">
                SA
            </div>
        </div>

    </div>
</section>