* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #07111f;
    color: #f8fafc;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    width: min(1100px, 90%);
    max-width: 1100px;
    margin: 0 auto;
}


/* =========================
   GLOBAL SECTION
   ========================= */

section {
    width: 100%;
    padding: 90px 0;
}


/* =========================
   TABLET
   ========================= */

@media (max-width: 900px) {
    .container {
        width: min(92%, 700px);
    }
    section {
        padding: 75px 0;
    }
}


/* =========================
   MOBILE
   ========================= */

@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 100%;
    }
    section {
        padding: 60px 0;
    }
}


/* =========================
   SMALL PHONES
   ========================= */

@media (max-width: 480px) {
    .container {
        width: calc(100% - 32px);
    }
    section {
        padding: 50px 0;
    }
}