<section id="experience" class="section">
    <div class="container">

        <div class="section-title">
            <h2>Work Experience</h2>
        </div>

        <div class="experience-card">

            <div class="experience-header">
                <div>
                    <h3>Software Developer</h3>
                    <h4>Recro technologies</h4>
                </div>

                <span class="duration">July 2023 — Present</span>
            </div>

            <ul>
                <li>Developed a production-oriented e-commerce microservices platform, ShopEase, using Java 21 and Spring Boot.</li>
                <li>Designed backend services for Product, Identity, Cart, Order, and Payment, with REST APIs, JPA/Hibernate, and MySQL.</li>
                <li>Built an event-driven checkout workflow using Apache Kafka and the Saga pattern, including payment success handling and failure compensation.</li>
                <li>Implemented inventory reservation and stock compensation within Order Service, ensuring stock is released when payment fails.</li>
                <li>Applied Resilience4j Retry and Circuit Breaker patterns for resilient payment processing and fallback handling.
                </li>
                <li>Containerized microservices using Docker and Docker Compose and validated APIs and distributed workflows through Postman, JUnit, and Mockito.</li>
            </ul>

            <div class="experience-tags">
                <span>Java</span>
                <span>Spring Boot</span>
                <span>Spring Security & JWT</span>
                <span>REST API</span>
                <span>Microservices</span>
                <span>Spring Cloud Gateway</span>
                <span>Apache Kafka</span>
                <span>Resilience4j & Circuit Breaker</span>
                <span>Saga Orchestration</span>
                <span>Docker</span>
                <span>Junit & Mockito</span>
                <span>Postman</span>
                <span>Git & GitHub</span>
                <span>MySQL</span>
                <span>Hibernate/JPA</span>
            </div>

        </div>

    </div>
</section>